/* Root container */
#clock-box {
  font-family: "Liberation Mono", monospace;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 10px;
}

/* Time label styling */
.time {
  color: #ffff00;
  font-size: 32px;
  font-weight: bold;
}

/* Date label styling */
.date {
  color: #ffff99;
  font-size: 16px;
}

.cpu {
  color: #99ff99;
  font-size: 20px;
}